/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/

.title{
   font-size: 80px;
   text-align:center;
   font-size: 400%;
   color: #f2bb55;
   margin-top: 40px;
   margin-left: -15rem;
   -webkit-text-stroke: 1px black;
   padding: 10%;
}
li{
   text-decoration: none;
   list-style-type: none;  
   text-align: left;
   padding-top: 50px;
   margin-left: -14rem;
   padding: top right bottom left;
}
.nav_list{
   margin-top: 500px;
   
}
ul{
   margin-top: -3rem;
   
   
}

div{
   text-align:left;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 2000;
    font-family: "Rockwell", monospace;
    
}
h1{
   text-align:left;
   width: 100%;
   font-size: 50px;
   color: #f2bb55;
   margin-top: 5px;
   margin-left: 1rem;
   -webkit-text-stroke: 0.5px black;
   margin-left: -13rem;
}
body{
    font-family: var(--body-font);
    font-size: 20px;
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 0.8;
    text-align:left;
    padding: top right bottom left;
    margin-left: 15rem;
    background-color: #f7e1cd;
    background-repeat:repeat;
    background-color: #f7f0db;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
      /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
